{% extends 'base.html' %} {% block title %} Login {% endblock %} {% block
content %}
<h1 class="display-1 text-center">Login</h1>
<p class="lead text-center">
  Login Below! Don't have an account? <a href="/register">Sign up!</a>
</p>
<div class="container">
  <form method="POST">
    {{form.hidden_tag()}} {% for field in form if
    field.widget.input_type!='hidden' %}
    <p>
      {{field.label}} {{field(class_='form-control')}} {% for error in
      field.errors %} <span class="form-text text-danger">{{ error }}</span> {%
      endfor %}
    </p>
    {% endfor %}
    <div class="d-flex justify-content-end">
      <button class="btn btn-success">Login</button>
    </div>
  </form>
</div>
{% endblock %}
