{% extends 'base.html' %} {% block title %} Secret {% endblock %} {% block
content %}
<h1 class="display-1 text-center">Secrets Yo!</h1>
<div class="container">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{user.username}}</h4>
      <p class="card-text">
        {{user.first_name}} {{user.last_name}} - {{user.email}}
      </p>
    </div>
  </div>
  <div class="container">
    <ul>
      {% for feedback in user.feedbacks %}
      <div class="container mt-3">
        <b>{{ feedback.title }}</b> - {{ feedback.content }}
        <a
          class="btn btn-sm btn-outline-primary"
          href="/feedback/{{ feedback.id }}/update"
          >Edit</a
        >
        <form
          style="display: inline"
          method="POST"
          action="/feedback/{{ feedback.id }}/delete"
        >
          <button class="btn btn-sm btn-danger p-1">x</button>
        </form>
      </div>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
